@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  width: 375px;
  height: 600px;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
